*{
    box-sizing: border-box;
}
#snakeField{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: auto;
}

.item{
    background-color: lightblue;
    border: 2px solid blue;
    height: 50px;
    width: 10%;
    border-radius: 5px;
}
.food {
    background-color: red;
    box-shadow: 10px 10px inset 5 white;
}
#snakeField > p {
    position: absolute;
    margin-top: 32rem;
    font-size: 3rem;
}